<h1>Estações</h1>
<div>
    <ul>
        <% @stations.each do |station| %>
            <li>
                <% presenter = StationPresenter.new(station)%>
                <p>
                Bairro: <%= station.neighborhood %> |
                Bicicletas disponíveis: <%= presenter.available_bikes_in_station %> |
                Vagas disponíveis: <%= presenter.spots_available %> |
                Capacidade: <%= station.capacity %>
            </li>
        <% end %>
    </ul>
</div>