<h1>Bike #<%= @bike.id%></h1>
<div>
    <% presenter = BikePresenter.new(@bike)%>
    <p>
        Bairro: <%= presenter.current_station.neighborhood %> |
        Status: <%= presenter.current_status %>
    </p>
    <%= render 'edit' %>
</div>